.container{
    height: 200px;
    width: 200px;
    background-color: black;
    animation: mover 5s infinite;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 { 
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 100px;
    background-color: rgb(86, 93, 100);


}
a {
    position: relative;
    bottom: 350px;
    right: 550px;
    text-decoration: none;
}


@keyframes mover{

    12.5% {
        background-color: brown;
        transform: rotate(45deg);

    }
    
    25% {
        background-color: orange;
        transform: rotate(90deg);

    }
    37.5% {
        background-color: pink;
        transform: rotate(135deg);

    }
    50% {
        background-color: blue;
        transform: rotate(180deg);

    }
    62.5% {
        background-color: yellow;
        transform: rotate(225deg);

    }
    75% {
        background-color: blueviolet;
        transform: rotate(270deg);

    }
    87.5% {
        background-color: maroon;
        transform: rotate(315deg);

    }
    100% {
        background-color: white;
        transform: rotate(360deg);

    }
}