.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black(53, 53, 53);
}
h1 { 
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 100px;
    background-color: rgb(86, 93, 100);


}
a {
    text-decoration: none;
}
.caixa1{
    height: 200px;
    width: 200px;
    border: 1px black;
    animation: mover1 5s infinite 0s;
    background-color: black;
    margin: 5px;
}
.caixa2{
    height: 200px;
    width: 200px;
    border: 1px black;
    animation: mover1 5s infinite 2s;
    background-color: black;
    margin: 5px;
}
.caixa3{
    height: 200px;
    width: 200px;
    border: 1px black;
    animation: mover1 5s infinite 3s;
    background-color: black;
    margin: 5px;
}


@keyframes mover1{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(250px);
    }
    50%{
        transform: translateY(-250px);
    }
    100%{
        transform: translateY(0px);
    }
}




