.container{
    height: 0px;
    width: 0px;
    background-color: black;
    animation: mover 5s infinite;
}
h1 { 
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 100px;
    background-color: rgb(86, 93, 100);


}
a {

    text-decoration: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes mover{

    0% {
        background-color: yellow;
        height: 0px;
        width: 0px;

    }
    
    50% {
        background-color: orange;
        height: 100px;
        width: 100px;
    }

    100% {
        background-color: green;
        height: 200px;
        width: 200px;
    }
}